/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* stile html */
.ft-sz-13 {
  font-size: 13px;
  color: #a3a3a3;
}

.ft-sz-11 {
  font-size: 11px;
}

.txt-grey {
  color: #a3a3a3;
}

.txt-white {
  color: white;
}

nav ul li {
  list-style: none;
}

main i,
footer i {
  cursor: pointer;
}

main a,
footer a {
  text-decoration: none;
  color: #a3a3a3;
}

main a:hover,
main i:hover {
  color: white;
}

footer a:hover,
footer .icons-album i:hover {
  color: white;
}

/* MAIN */
main {
  width: 100%;
  height: calc(100vh - 90px);
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.nav-main-sx,
#content {
  float: left;
}

/* main pt sx */
main .nav-main-sx {
  float: left;
  height: 100%;
  width: 230px;
}

main .nav-main-sx .nav-top {
  height: calc(100% - 80px);
  background-color: black;
}

main .nav-logo a {
  font-size: 12px;
  font-weight: 500;
}

main .nav-main-sx .nav-top .nav-logo-mobile,
main .nav-main-sx .nav-bottom .nav-bottom-mobile {
  display: none;
}

/* nav top main pt sx*/
.nav-main-sx .nav-top .nav-logo img {
  width: 135px;
  margin: 15px 20px;
}

.list-top .list-menu {
  padding: 10px 23px;
}

.nav-top .nav-logo .list-top .list-menu img {
  width: 25px;
  margin: 0 5px;
}

.nav-logo .list-top .list-menu {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.nav-logo .list-top .list-menu li a {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
}

.nav-logo .list-top .list-menu li a.active::before {
  content: "";
  position: absolute;
  left: -15px;
  height: 110%;
  width: 3px;
  background-color: #b7ff33;
}

/* nav center main pt sx*/
.nav-top .nav-logo .list-bottom {
  margin: 10px 23px;
  height: calc(100vh - 400px);
  overflow: hidden;
}

.nav-top .nav-logo .list-bottom h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.nav-top .nav-logo .list-bottom .plus span {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: black;
  background-color: #a3a3a3;
  vertical-align: middle;
}

.nav-top .nav-logo .list-bottom .plus span:hover {
  background-color: white;
  font-size: 23px;
}

.nav-top .nav-logo .list-bottom .list-menu-bottom {
  overflow-y: auto;
  height: 80%;
}

.nav-top .nav-logo .list-menu-bottom li {
  margin: 10px 0;
}

/* nav bottom main pt sx*/
main .nav-main-sx .nav-bottom {
  height: 80px;
  background-color: black;
}

main .nav-main-sx .nav-bottom .nav-bottom-top,
main .nav-main-sx .nav-bottom .nav-bottom-end {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 0 20px;
  font-size: 10px;
  border-bottom: 1px solid #696969;
  font-weight: 500;
}

main .nav-main-sx .nav-bottom .nav-bottom-top > img {
  width: 20px;
  padding-right: 7px;
}

main .nav-main-sx .nav-bottom .nav-bottom-end {
  border-bottom: none;
}

main .nav-main-sx .nav-bottom .nav-bottom-end .account {
  width: 20px;
  height: 20px;
  background-color: #a3a3a3;
  margin-right: 7px;
  padding-top: 5px;
  border-radius: 50%;
}

/* main pt dx */
main > #content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  background-color: #141922;
  color: white;
  overflow-y: auto;
}

#content .call-to-action {
  position: fixed;
  width: calc(100% - 230px);
  height: 90px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
}

#content .call-to-action .btn-fx {
  padding: 11px 39px;
  margin: 25px 5px;
  font-size: 12px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
}

#content .call-to-action .btn-fx:hover {
  transform: scale(1.1);
}

main #content .main-nav {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  min-height: 55px;
  line-height: 55px;
  width: 100%;
}

#content .main-nav nav {
  width: 100%;
}

#content .main-nav nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.main-nav ul li a {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 11px;
  font-weight: 600;
}

.main-nav ul li a.active::before {
  content: "";
  position: absolute;
  left: 39px;
  bottom: 25px;
  width: 30%;
  height: 2px;
  background-color: #b7ff33;
}

#content .covers {
  width: 100%;
}

#content .covers h2 {
  margin: 10px 10px;
  font-size: 24px;
  font-weight: 700;
}

#content .covers .sub-title {
  margin: 0px 10px 30px;
  font-size: 12px;
  font-weight: 900;
}

#content .covers .row-recently,
#content .covers .row-album,
#content .covers .row-artisti {
  padding: 20px;
}

#content .covers .row-album-recently {
  display: flex;
  flex-wrap: wrap;
}

#content .covers .box-img {
  width: calc(100% / 6 - 20px);
  text-align: center;
  cursor: pointer;
  margin: 0 10px 30px;
}

.box-img .bk-img img {
  width: 100%;
}

.box-img .bk-img:hover .covered {
  display: flex;
}

.covers .box-img .bk-img {
  width: 100%;
  position: relative;
}

.box-img .bk-img .covered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.bk-img .covered .fa-play {
  width: 60px;
  height: 60px;
  font-size: 30px;
  padding: 12px 17px;
  border: 3px solid white;
  border-radius: 50%;
}

.box-img .text-album {
  margin-top: 10px;
  width: 100%;
}

.box-img .text-album span {
  font-weight: 900;
}

.box-img .text-album h4 {
  font-size: 80%;
}

.row-artisti .box-img .bk-img img {
  border-radius: 50%;
}

.row-artisti .box-img .bk-img .covered {
  border-radius: 50%;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #222;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
}

/* footer left */
.footer-left {
  width: 25%;
}
.footer-left .player-album {
  display: flex;
  align-items: center;
  height: 100%;
  width: 230px;
}

.footer-left .player-album img {
  width: 50px;
  margin: 0 7px;
}

.footer-left .player-album .descr-album h4 {
  font-size: 11px;
  font-weight: 600;
  margin-right: 60px;
}
.footer-left .player-album .descr-album p {
  font-size: 10px;
  font-weight: 500;
}
.footer-left .player-album .descr-album p:hover {
  text-decoration: underline;
  color: white;
}

.footer-left .icons-album i {
  padding: 0 5px;
  color: #7b7b7b;
}

/* footer center */
.footer-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.footer-center .center-comand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 210px;
}

.center-comand .fa-play {
  width: 29px;
  height: 29px;
  font-size: 15px;
  padding: 4px 6px;
  margin: 0 5px;
  border: 3px solid white;
  border-radius: 50%;
}

.center-comand .fa-play:hover {
  transform: scale(1.1);
}

.footer-center .center-time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  font-weight: 500;
}

.footer-center .center-time .line-time {
  width: 65%;
  background-color: #5a5a5a;
  border-radius: 20px;
  margin: 10px 20px;
  cursor: pointer;
}

/* punto indicatore */
footer .ball {
  position: absolute;
  bottom: -9px;
  left: 85%;
  display: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
}
/*/ punto indicatore */

.center-time .line-time .time-advance:hover .ball,
.footer-right .line-audio .line-volume:hover .ball {
  display: block;
}

.center-time .line-time .time-advance:hover,
.footer-right .line-audio .line-volume:hover {
  border: 2px solid #1ed760;
}

.center-time .line-time .time-advance {
  position: relative;
  width: 20%;
  border: 2px solid #c1c1c1;
  border-radius: 20px;
}

/* footer right */
.footer-right {
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.footer-right .audio-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  font-size: 12px;
}

.footer-right .audio-right .fas {
  margin: 0 7px;
}

.footer-right .line-audio {
  width: 20%;
  background-color: #5a5a5a;
  border-radius: 20px;
  margin: 0 30px 0 7px;
  cursor: pointer;
}

.footer-right .line-audio .line-volume {
  position: relative;
  width: 20%;
  border: 2px solid #c1c1c1;
  border-radius: 20px;
}

/* MEDIA QUERY */

/* media querry posizioni img cover versione tablet */
@media (max-width: 900px) {
  #content .covers .box-img {
    width: calc(100% / 4 - 20px);
    margin-bottom: 5px;
  }

  .box-img .text-album h4{
    font-size: 11px;
  }

  .box-img .text-album span{
    font-size: 9px;
  }
}
@media (max-width: 600px) {
  main .nav-main-sx {
    width: 50px;
  }
  main #content,
  main #content .call-to-action {
    width: calc(100% - 50px);
  }

  /* nav pt sx con loghi versione mobile */
  main .nav-main-sx .nav-top .nav-logo-mobile,
  main .nav-main-sx .nav-bottom .nav-bottom-mobile {
    display: block;
  }

  main .nav-main-sx .nav-top .nav-logo,
  main .nav-main-sx .nav-bottom .nav-logo-bottom {
    display: none;
  }

  .nav-top .nav-logo-mobile .list-loghi li img {
    width: 28px;
    margin: 2px 10px;
  }

  .nav-bottom-mobile .list-loghi-bottom li:first-child img {
    width: 16px;
    margin: 14px;
  }

  /* img speciali nav mobile */
  .nav-top .nav-logo-mobile .list-loghi .logo-small {
    padding-bottom: 5px;
    width: 30px;
  }

  .account {
    width: 25px;
    height: 25px;
    margin: 0 10px;
  }

  /* /nav pt sx con loghi versione mobile */
  #content .covers .box-img{
    width: calc(100% / 2 - 20px);
    margin-bottom: 5px;
  }

  .box-img .text-album h4{
    font-size: 16px;
  }

  .box-img .text-album span{
    font-size: 12px;
  }

  /* footer */
  .footer-left .player-album .descr-album h4 {
    margin-right: 5px;
  }

  .footer-left .player-album img {
    width: 30px;
    margin: 0 3px;
  }

  .footer-center {
    width: 40%;
  }

  .footer-center .center-comand {
    width: 70%;
  }

  .footer-right {
    justify-content: center;
  }

  .footer-right .line-audio {
    margin-right: 5px;
    width: 35%;
  }

  .footer-right .audio-right .fas {
    margin: 0 2px;
  }
}

/* media querry in altezza */
@media (max-height: 350px) {
  .nav-logo-bottom {
    display: none;
  }
}

@media (max-height: 280px) {
  .list-top {
    display: none;
  }
}
