*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

span{
  display: block;
}



.pt-sx-main,
.pt-dx-main{
  float:left
}

nav ul li{
  list-style: none;
}

.wrapper{
  width: 100%;
  height: calc(100vh - 90px);
  background-color: darkgray;
}



main .pt-sx-main{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 230px;
  background-color: bisque;
}

main .pt-dx-main{
  width: calc(100% - 230px);
  height: 100%;
  background-color: thistle;
}
.content .call-to-action{
  position: fixed;
  top: 0;
  left: 230px;
  z-index: 999;
  width: calc(100% - 230px);
  height: 90px;
  text-align: right;
  background-color: rgba(200, 150, 20, 0.5);
}

.btn-fx{
  padding: 11px 39px;
  margin: 25px 5px;
  color: white;
  font-size: 12px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 30px;
}

.content .main-nav{
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  min-height: 55px;
  line-height: 55px;
  width: 100%;
  background-color: tomato;
}
.main-nav nav{
  width: 100%;
}
.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.main-nav ul li a{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #6C6F74;
}

.covers{
  width: 100%;
}
.covers h2{
  margin: 15px;
  font-size: 23px;
  font-weight: 700;
  color: white;
}
.box-img{
  float: left;
  margin: 6px;
  width: calc(100% / 6 - 12px);
}

.box-img img{
  width: 100%;
  padding: 10px;
}
  
footer{
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #222;
}

.footer-left, .footer-center, .footer-right{
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
}




